.main {
     margin: 0px auto;
     width: 890px;
}

.section1 {
     background-color: #8EC0E8;
     float: left;
     height: 135px;
     padding: 5px 0px 0px 5px;
     margin-bottom: 5px;
     position: relative;
     width: 890px;
}

.bmet_img {
     float: left;
     width: 130px;
}

.bmet_name {
     float: left;
     left: 160px;
     position: absolute;
     top: 40%;
     width: 720px;
}

.section2 {
     background-color: #F1F5F5;
     float: left;
     padding: 5px 0px 0px 5px;
     width: 890px;
}

.grid_hder {
     border-bottom: 1px solid black;
     padding-bottom: 2px;
     width: 390px;
}

.detail_grid {
     float: left;
     padding-top: 10px;
     width: 400px;
}

.detail_mgnt {
     float: left;
}

.select_bmet {
     margin-top: 20px;
     width: 475px;
}

.btn_overview {
     float: right;
     margin: 15px 3px 10px 0px;
}
